*.class
.classpath
.project
*.user
*.suo
*.ipr
*.iws
*.iml
*.cscfg
proddl.properties
proddl_core*.jar
*[Tt]est*

OLD_proddl_c/

Debug/
azure-sdk-for-java/*
proddl_main/proddl_core/target/
proddl_main/proddl_core/src/test/
proddl_main/proddl_utils/target/
proddl_main/proddl_utils/src/test/
proddl_main/proddl_web/target/
proddl_main/proddl_web/src/test/
org.soyatec.windows.azure.java.doc/

proddl_main/proddl_cloud/src/main/resources/property/proddl.properties.OLD
proddl_main/proddl_web/src/main/webapp/resources/js/customClasses.js
proddl_main/proddl_web/src/main/webapp/resources/js/mgt-chart-map.js
proddl_bootstrap/Profiles
proddl_bootstrap/ServiceConfiguration.Empty.cscfg
proddl_bootstrap/ServiceConfiguration.Local.cscfg
proddl_bootstrap/ServiceConfiguration.Prod.cscfg
proddl_bootstrap/.DS_Store
proddl_main/proddl_web/.DS_Store
proddl_bootstrap/PRODDLJobRunner/obj/Release
proddl_bootstrap/PRODDLJobRunner/bin/Release
proddl_bootstrap/PRODDLMaster/obj/Release
proddl_bootstrap/PRODDLMaster/bin/Release
proddl_bootstrap/bin/Release
proddl_bootstrap/CommonTool/bin/Release
proddl_bootstrap/CommonTool/obj/Release
proddl_bootstrap/csx/Release
proddl_bootstrap/obj/Release
proddl_utils-1.0.jar
pom.properties
proddl.properties.SAMPLE
proddl.ini
